# =========================
# Python virtual environments
# =========================
venv/
.venv/
ece5831-2025-assignments/

# =========================
# Python cache / bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter / IPython
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS / system files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log
